In [1]:
#getting and knowing your data
#step 1: import necessary libraries
import pandas as pd
import numpy as np

In [2]:
#for mac users to import links
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
#step 2: import dataset from the URL and to a variable
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv' #url as variable only
chipo = pd.read_csv(url, sep='\t') #chipo as data set name, sep - separate, convert tsv into csv
chipo
#should appear in table format

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [8]:
#step 3: see the first 10 entries
#5 as default value, included in interview
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [9]:
#step 4: what is the number of observations in the dataset?
#observations - total entries of data

#solution 1
chipo.shape[0] #ID 0

4622

In [10]:
#step 4, solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [11]:
#step 5: what numbers of columns in dataset?
#0 means row, 1 means cols in shape
chipo.shape[1]

5

In [12]:
#step 6: print all the name of your columns
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [13]:
#step 7: which is the most ordered item?
#group by function
#5 display entries as default value

c = chipo.groupby('item_name') #item_name - column name
c = c.sum()
c = c.sort_values(['quantity'], ascending=False) #item mostly ordered, default in ascending
c.head(1) #display only first item, the most ordered

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

In [14]:
#most ordered choice description
d = chipo.groupby('choice_description') #column name
d = d.sum()
d = d.sort_values(['quantity'], ascending=False) #item mostly ordered, default in ascending
d.head()

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...
[Coke],122752,143,Canned Soft DrinkCanned Soft DrinkCanned Soft ...,$1.25 $1.25 $1.25 $6.49 $1.25 $1.25 $1.25 $1.2...
[Sprite],80426,89,Canned SodaCanned SodaCanned Soft Drink6 Pack ...,$2.18 $1.09 $1.25 $6.49 $1.25 $1.25 $1.09 $1.2...
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]",43088,49,Chicken BowlChicken BurritoChicken BowlChicken...,$8.75 $8.75 $8.75 $8.75 $9.25 $8.75 $8.75 $8.7...
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]",36041,42,Chicken BowlChicken BowlChicken BurritoCarnita...,$17.50 $8.75 $8.75 $9.25 $8.75 $9.25 $8.75 $8....

In [15]:
#check total number of item ordered
total = chipo.quantity.sum()
total

4972